_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
!teaching/PHYS2C/notes/_static/vendor/
teaching/PHYS2C/notes_src/_build/
teaching/PHYS130B/notes/
teaching/PHYS130B/notes_src/_build/
**/notes/
**/_build/
.venv/
**/.DS_Store
.git
_jekyll.app
_backup
_scripts
.bundle
.cursor
__pycache__/
