<footer class="site-footer">
    <p class="text">
        {{ site.footer_text | default: "" }}
    </p>
    <p>
        <a href="https://ucsd.edu/" target="_blank">UCSD</a> | 
        <a href="https://physics.ucsd.edu/" target="_blank">Department of Physics</a> | 
        <a href="https://physics.ucsd.edu/research/condensed-matter-physics" target="_blank">Condensed Matter Group</a>
    </p>
    <p>Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> 
        with <a href="https://github.com/sylhare/Type-on-Strap" target="_blank">Type on Strap</a> | 
        <a href="/privacy.html">Privacy Statement</a> 
    </p>
    <div class="footer-icons">
        <ul>
        <!-- Social icons from Font Awesome, if enabled -->
        {% include social/icons.liquid %}
        </ul>
    </div>
</footer>