.site-footer {
  @extend %padding-post;
  z-index: -1;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: var(--meta);
  font-size: 0.9em;

  .footer-icons {
    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline;
      }

      a {
        color: var(--link);
      }
      
      /* Allow tooltips to work by preventing child elements from blocking pointer events */
      a .fa-stack {
        pointer-events: none;
      }

      @media (prefers-color-scheme: dark) {
        a {
          color: var(--meta);
        }
      }

      a:hover {
        color: var(--link);
        filter: brightness(0.85);
      }
    }
  }
}
