// To clear things when we float the element inside nav and ul
.clear {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1% 2%;
  background: var(--background);
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .separator {
    user-select: none;
    opacity: 0;

    &:first-child {
      display: none;
    }
  }

  a {
    color: var(--header-link);
  }

  .branding {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
  }

  .avatar {
    height: 2em;
    width: 2em;
    flex-shrink: 0;
    border-radius: 0.2em;
    margin-right: 0.5em;
    padding: 2px;
    box-sizing: border-box;
    display: block;
    object-fit: contain;
  }

  .site-title {
    font-weight: bold;
    font-family: $font-family-logo;
    font-size: 1.3em;
    display: block;
  }
}

// Toggle button (separate from nav)
a#pull {
  display: none;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  height: 1.5em;
  flex: 0 0 auto;
  position: relative;
  
  i {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  
  // Default: show hamburger icon, hide X icon (menu starts collapsed)
  .menu-icon-open {
    display: inline-block;
  }
  
  .menu-icon-close {
    display: none;
  }
}

// Change icon visibility based on menu state using :has() selector
// When menu is expanded (nav ul doesn't have .hide class)
.site-header:has(nav ul:not(.hide)) a#pull {
  // Show X icon, hide hamburger icon (tooltip follows automatically)
  .menu-icon-open {
    display: none;
  }
  
  .menu-icon-close {
    display: inline-block;
  }
}

// When menu is collapsed (nav ul has .hide class) - default state
.site-header:has(nav ul.hide) a#pull {
  // Show hamburger icon, hide X icon (tooltip follows automatically)
  .menu-icon-open {
    display: inline-block;
  }
  
  .menu-icon-close {
    display: none;
  }
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
  }

  li {
    display: inline;

    // Icon menu group: container for grouped icon items
    &.icon-menu-group {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      flex-shrink: 0;
      min-width: max-content;
      line-height: 1.5;
      height: 1.5em;
      
      .icon-menu-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        white-space: nowrap;
        padding: 0 0.3em;
        
        &:not(:last-child) {
          margin-right: 0.3em;
        }
      }
    }
  }

  a {
    &:hover {
      color: var(--link);
    }
  }
}

/* ---- Responsive ---- */

@media (min-width: $break) {
  // Normal mode: menu always visible, toggle hidden
  nav {
    ul {
      display: flex;
    }
    
    a#pull {
      display: none;
    }
  }
}

@media screen and (max-width: $break) {
  // Mobile mode: toggle visible, menu collapsed by default
  .site-header {
    flex-wrap: wrap;
    
    .branding {
      flex: 0 0 auto;
    }
    
    // Toggle button in top row, right side
    a#pull {
      display: inline-flex;
      flex: 0 0 auto;
      order: 2;
    }
    
    // Nav menu expands as next row
    nav {
      flex: 1 1 100%;
      order: 3;
      width: 100%;
      margin-top: 0.5rem;
      min-height: 0;
      height: auto;
      
      .separator {
        display: none !important;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-end;
        gap: 0.15em;
        line-height: 1.2;
        padding: 0;
        margin: 0;
        border-top: 1px solid var(--border);
        padding-top: 0.5rem;

        /* fade out, then shrink */
        transition: opacity .25s 0s, font-size .25s 0s;
        transition-delay: 0s;

        &.hide {
          display: none;
        }
      }
      
      // Hide nav when menu is collapsed to remove vertical space
      &:has(ul.hide) {
        display: none;
        margin-top: 0;
        height: 0;
        min-height: 0;
      }

      li {
        //width: auto;
        text-align: center;
        position: relative;
        background-color: var(--background);
        flex-shrink: 0;
        //min-width: 0;

        a {
          //width: auto;
          //margin: 0;
          display: inline-block;
          padding: 0.15em 0.5em;
          //font-size: inherit;
          line-height: 1.5;
          white-space: nowrap;
        }
      }
    }
  }
}
