.title-padder {
  padding: $title-padding;
}

h1.title {
  padding: 0.5em 0;
}

.feature-image {
  .page-content{
    @extend %padding-post;
  }
}

.subtitle {
  font-weight: normal;
  margin-top: 5px;
}

.inscription{
  text-align: right;
  text-shadow: 0px 0px 3px var(--text-shadow);
  font-size: 0.85em;
}

//Shared css in _post.scss


/* --- Aligner --- */
/* within page/posts */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0.9% 0 1.5% 0;
}

.column {
  flex: 50%;

  img {
    width: 100%;
    min-width: 250px;
  }

  .single {
    width: 50%;
    display: block;
  }
}

.page-content {
  h1 { color: var(--h1); }
  h2 { color: var(--h2); }
  h3 { color: var(--h3); }
  h4 { color: var(--h4); }
  h5 { color: var(--h5); }
  h6 { color: var(--h6); }

  a {
    :visited {
      filter: saturate(0.7);
    }
  }

  // Default styling for all images in post content
  img {
    max-width: 100%;
    height: auto;
  }
  
  // Markdown standalone images: when image is the only child of a paragraph
  // Jekyll renders ![alt](url) on its own line as <p><img></p>
  p:has(> img:only-child) {
    text-align: center;
    margin: 1.5em auto;
    display: block;
    border-radius: $border-radius;
    overflow: hidden;
    text-indent: 0;
    padding: 0;
    box-sizing: border-box;
    width: 75%;
    max-width: 75%;
    
    img {
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

/* Research section images */
.research-section-image {
  text-align: center;
  margin: 2rem 0;
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}