.comments {
  @extend %padding-post;
  // border-bottom: 1px solid var(--border);
  float: left;
  width: 100%;
}

article {
  @extend .comments;

  header {
    margin-bottom: 6%;
    text-align: center;
  }

  a:hover {
    @extend .body-link;
  }

  .footnotes {
    font-size: 0.9em;
  }
}

footer {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;

  .meta {
    display: inline;
  }

  a.button {
    margin-left: 1em;
  }
}

header {
  h1 {
    margin: 0;
  }
}

.meta {
  color: var(--meta);
  letter-spacing: 0.1em;
  margin: 0;
}

/* --- Post info --- */
.post-info {
  /* For border in author
  border: 1px solid var(--border);
  padding-left: 0.5em;
  */
  border-radius: 1em;
  padding-right: 0.5em;
  display: inline-flex;

  a {
    display: flex;
    align-items: center;

    img {
      height: auto;
    }
  }

  img {
    border-radius: 1em;
    padding: 0;
    width: 1.5em;
    height: 100%;
    margin-right: 0.5em;
  }
}

/* --- Feature image --- */
.feature-image {
  padding: 0;

  .post-link {
    color: var(--header-text);
  }

  h1.title, .post-info {
    @extend .txt-shadow;
  }

  h2.subtitle {
    @extend .txt-shadow;
  }

  header {
    color: var(--header-text);
    margin-bottom: 0;
    padding: $padding-medium/2.5 $padding-medium;

    .meta {
      color: var(--header-text);
      filter: opacity(0.7);
    }
  }

  .post-content {
    @extend %padding-post;
    padding-bottom: 0;
  }

  footer {
    @extend %padding-post;
    padding-top: 0;
  }

  .feature-image-padding {
    padding: $feature-image-padding;
  }
}

/*-- feature-image Responsive scrolling --*/
.feature-image header {
  background-size: 112% auto;

  @media screen and (max-width: $break) {
    background-size: 180% auto;
  }

  @media screen and (max-width: $sm-break) {
    background-size: 400% auto;
  }

  @media screen and (max-width: $x-sm-break) {
    background-size: 620% auto;
  }
}

.post-content {
  h1 { color: var(--h1); }
  h2 { color: var(--h2); }
  h3 { color: var(--h3); }
  h4 { color: var(--h4); }
  h5 { color: var(--h5); }
  h6 { color: var(--h6); }

  a {
    :visited {
      filter: saturate(0.7);
    }
  }
  p {
    @extend .article-text;
  }
  
  // Default styling for all images in post content
  img {
    max-width: 100%;
    height: auto;
  }
  
  // Markdown standalone images: when image is the only child of a paragraph
  // Jekyll renders ![alt](url) on its own line as <p><img></p>
  p:has(> img:only-child) {
    text-align: center;
    margin: 1.5em auto;
    display: block;
    border-radius: $border-radius;
    overflow: hidden;
    text-indent: 0;
    padding: 0;
    box-sizing: border-box;
    width: 75%;
    max-width: 75%;
    
    img {
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
