.tag-list {
  width: 100%;
  padding-bottom: $padding-x-small;

  a.button {
    margin: 0.1em;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
  }

  p {
    margin: 0;
    padding: 0 0.2em 0 0;
  }

  ul {
    text-align: center;
    list-style: none;

    li, div {
      display: inline;
    }

    div.meta {
      margin-right: 0.5em;
    }
  }
}

.tag-anchor {
  margin-top: $padding-x-small;
  scroll-margin-top: 3.5em; // Account for fixed navbar (3.2em) + small spacing

  a {
    color: var(--link);

    &:hover {
      text-decoration: none;
    }
  }
}

.tag-posts {
  display: inline-block;
  width: 100%;

  .tag-title {
    margin-top: 0;
    margin-bottom: 0;

    a {
      margin-left: $padding-x-small;
    }

    .post-info {
      float: right;
    }
  }

  .meta {
    display: inline;
    float: right;
    font-size: 0.8em;
    line-height: normal;
  }
}

@media screen and (max-width: $break) {
  .tag-anchor {
    scroll-margin-top: 2.9em; // Account for fixed navbar at $break (2.7em) + spacing
  }
}

@media screen and (max-width: $sm-break) {
  .tag-anchor {
    scroll-margin-top: 2.3em; // Account for fixed navbar at $sm-break (2.5em) + spacing
  }

  .tag-posts .meta {
    display: none;
  }
}

@media screen and (max-width: $x-sm-break) {
  .tag-anchor {
    scroll-margin-top: 2.0em; // Account for fixed navbar at $x-sm-break (2.1em) + spacing
  }
}
