---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}
</div> 
<article>
  <section class="post-content">
    We are a research group in theoretical condensed matter physics. We are interested in a broad varieties of topics related to emergent phenomena in quantum (and classical) many-body systems. We use both theoretical and numerical approaches in our research.
  </section>
</article>
